@font-face {
    font-family: 'Quattrocento';
    src: url('Quattrocento.eot');
    src: url('Quattrocento.eot?#iefix') format('embedded-opentype'),
        url('Quattrocento.woff2') format('woff2'),
        url('Quattrocento.woff') format('woff'),
        url('Quattrocento.ttf') format('truetype'),
        url('Quattrocento.svg#Quattrocento') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quattrocento';
    src: url('Quattrocento-Bold.eot');
    src: url('Quattrocento-Bold.eot?#iefix') format('embedded-opentype'),
        url('Quattrocento-Bold.woff2') format('woff2'),
        url('Quattrocento-Bold.woff') format('woff'),
        url('Quattrocento-Bold.ttf') format('truetype'),
        url('Quattrocento-Bold.svg#Quattrocento-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Untitled Sans';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Untitled-Sans-Regular/UntitledSans-Regular.eot');
  src: url('../fonts/Untitled-Sans-Regular/UntitledSans-Regular.eot?#iefix') format('embedded-opentype'),
       local('Untitled Sans Regular'),
       local('Untitled-Sans-Regular'),
       url('../fonts/Untitled-Sans-Regular/UntitledSans-Regular.woff2') format('woff2'),
       url('../fonts/Untitled-Sans-Regular/UntitledSans-Regular.woff') format('woff'),
       url('../fonts/Untitled-Sans-Regular/UntitledSans-Regular.ttf') format('truetype'),
       url('../fonts/Untitled-Sans-Regular/UntitledSans-Regular.svg#UntitledSans') format('svg');
}

@font-face {
  font-family: 'Untitled Sans';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Untitled-Sans-Bold/UntitledSans-Bold.eot');
  src: url('../fonts/Untitled-Sans-Bold/UntitledSans-Bold.eot?#iefix') format('embedded-opentype'),
       local('Untitled Sans Bold'),
       local('Untitled-Sans-Bold'),
       url('../fonts/Untitled-Sans-Bold/UntitledSans-Bold.woff2') format('woff2'),
       url('../fonts/Untitled-Sans-Bold/UntitledSans-Bold.woff') format('woff'),
       url('../fonts/Untitled-Sans-Bold/UntitledSans-Bold.ttf') format('truetype'),
       url('../fonts/Untitled-Sans-Bold/UntitledSans-Bold.svg#UntitledSans') format('svg');
}

@font-face {
  font-family: 'Untitled Sans';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/Untitled-Sans-Regular-Italic/UntitledSans-RegularItalic.eot');
  src: url('../fonts/Untitled-Sans-Regular-Italic/UntitledSans-RegularItalic.eot?#iefix') format('embedded-opentype'),
       local('Untitled Sans Regular Italic'),
       local('Untitled-Sans-Regular-Italic'),
       url('../fonts/Untitled-Sans-Regular-Italic/Noto-Sans-italic.woff2') format('woff2'),
       url('../fonts/Untitled-Sans-Regular-Italic/Noto-Sans-italic.woff') format('woff'),
       url('../fonts/Untitled-Sans-Regular-Italic/Noto-Sans-italic.ttf') format('truetype'),
       url('../fonts/Untitled-Sans-Regular-Italic/UntitledSans-RegularItalic.svg#UntitledSans') format('svg');
}

@font-face {
  font-family: 'Untitled Sans';
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/Untitled-Sans-Bold-Italic/UntitledSans-BoldItalic.eot');
  src: url('../fonts/Untitled-Sans-Bold-Italic/UntitledSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
       local('Untitled Sans Bold Italic'),
       local('Untitled-Sans-Bold-Italic'),
       url('../fonts/Untitled-Sans-Bold-Italic/UntitledSans-BoldItalic.woff2') format('woff2'),
       url('../fonts/Untitled-Sans-Bold-Italic/UntitledSans-BoldItalic.woff') format('woff'),
       url('../fonts/Untitled-Sans-Bold-Italic/UntitledSans-BoldItalic.ttf') format('truetype'),
       url('../fonts/Untitled-Sans-Bold-Italic/UntitledSans-BoldItalic.svg#UntitledSans') format('svg');
}
